<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VIKA SHOES</title>
    <!-- Google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!---->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<header>
    <div id="header-first">
        <div>
            <a href="#">OBĽÚBENÉ</a>
            <a href="#">ÚČET</a>
        </div>
        <h1 style="font-family: 'Cormorant Garamond', serif; font-size: 50px;">VIKA SHOES</h1>
        <div id="header-first-first">
            <a href="#">VYHĽADÁVANIE</a>
            <a href="#">KOŠÍK</a>
        </div>
    </div>
    <div id="header-second">
        <a href="#">OBUV</a>
        <a href="#">NÁŠ PRÍBEH</a>
        <a href="#">RECENZIE</a>
        <a href="#">PODPORA</a>
    </div>
</header>
<main>
    <div id='second-section'>
        <div>
            <h3>Obuv na Hallux Valgus</h3>
            <h2 style="font-family: 'Caveat', cursive; font-size: 40px; margin: 0;" >Štýl, ktorý sa spája</h2>
            <h1 style="font-family: 'Caveat', cursive; font-size: 60px; margin: 0;">S KOMFORTOM</h1>
            <h3>
                Váš problém s nájdením štýlovej a pohodlnej obuvi sa skončil.
                Náš sortiment topánok je navrhnutý špeciálne tak, aby sedel
                na nohy žien s vybočenými palcami (hallux valgus) alebo pre ženy,
                ktoré len hľadajú extra pohodlie v topánkach.
            </h3>
            <button>PREZERAŤ KOLEKCIU</button>
        </div>
    </div>
    <div id='first-section'>
        <div id="sport-shoes">
            <h1>TENISKY</h1>
            <button>PREZERAŤ KOLEKCIU</button>
        </div>
        <div id="classic-shoes">
            <h1>LODIČKY</h1>
            <button>PREZERAŤ KOLEKCIU</button>
        </div>
    </div>
    <div id='third-section'>
        <div>
            <h1>TVOJE TOPÁNKY</h1>
            <p>
                Chápeme Vašu bolesť. VIKA bola založená
                dlhoročnou pacientkou s vbočenými kĺbmi,
                ktorá spolupracovala s tímom skúsených
                dizajnérov topánok a expertov na chodidlá
                na vytvorení rady najpohodlnejších topánok
                pre vbočené kĺby, aké kedy budete nosiť.
            </p>
            <button>PREČÍTAJTE SI NÁŠ PRÍBEH</button>
        </div>
    </div>
    <div id='fourth-section'>
        <div id="fourth-title">
            <h1>@VIKAShoesSK</h1>
            <h1>FOLLOW US</h1>
        </div>
        <div id="fourth-content">
            <img src="https://images.unsplash.com/photo-1543163521-1bf539c55dd2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80" alt="">
            <img src="https://images.unsplash.com/photo-1560343090-f0409e92791a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80" alt="">
            <img src="https://images.unsplash.com/photo-1562273138-f46be4ebdf33?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80" alt="">
            <img src="https://images.unsplash.com/photo-1603808033192-082d6919d3e1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=415&q=80" alt="">
        </div>
    </div>
    <div id='five-section'>
        <h1>Čo sú haluxy?</h1>
        <p>
            Haluxy postihujú približne 30% žien na Slovensku. Haluxy, ktoré sa medicínsky
            nazývajú hallux valgus, sú kostné nádory nachádzajúce sa v základni palca.
            Haluxy vznikajú, keď sa kosti vpredu na nohe posunú z miesta a pomaly začnú
            posúvať váš palec k druhému prstu.
        </p>
        <p>
            Naše topánky pomáhajú minimalizovať bolesť haluxov,
            ponúkajú dodatočnú stabilitu a podporu, s nastaviteľnými
            popruhmi na uľavenie tlaku, podpornými podrážkami, ľahkými
            materiálmi, podporou oblúka a širokou oblasťou prednej časti nohy.
        </p>
        <button>VIAC INFO</button>
    </div>
    <div id='six-section'>
        <h1>PRIHLÁSTE SA K ODOBERU NÁŠHO NEWSLETTERA</h1>
        <p>Získajte exkluzívne ponuky a ako prví sa dozviete o nových kolekciách.</p>
        <p>Prihlásením sa súhlasíte s našou zásadou ochrany osobných údajov.</p>
        <input placeholder="ZADAJTE SVOJU E-MAILOVU ADRESU">
        <button>ODOBERAŤ</button>
    </div>
</main>
<footer>
    <div class="contact-info">
        <p>Tel: <a href="tel:+421908498880">+421908498880</a></p>
        <p>Email: <a href="mailto:vika@gmail.com">vika@gmail.com</a></p>
    </div>
    <div class="social-icons">
        <i class="material-icons">instagram</i>
        <i class="material-icons">facebook</i>
    </div>
</footer>
</body>
</html>